.container {
  padding: 30px !important;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  .containerInner {
    padding: 20px;
    border-radius: 20px;
    background: #f9f9f9;
  }
}
